body {
    background-color: black;
    margin-top: 2rem;
}

h1 {
    color: #d4ccb6;
}

p {
    color: #afb6c2;
}

a {
    color: aliceblue;
}

.bodyContent {
    display: grid;
}

.logInImg{
    display: inline-block;
    vertical-align: text-bottom;
}
.logInH1{
    display: inline-block;
    margin-bottom: 0;
}

.logInp{
    margin-top: 0%;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 200px;
    color: #d4ccb6;
}


label {
    margin-top: 10px;
}


input{
    border-radius: 5px;
    height: 20px;
    border-color: #d4ccb6;
    background-color: black;
}


#email {
    width: 200px;
    margin: auto;
    background: url(./images/mail.svg) left top no-repeat;
}

#password {
    width: 200px;
    background: url(./images/lock.svg) left top no-repeat, url(./images/eye.svg) right top no-repeat;
}

.checkbox {
    margin-top: 1rem;
    color: #afb6c2;
}

#accountP {
    display: inline-block;
}

#accountHref {
    display: inline-block;
}

#logInbbtn {
    background-color: #ffc632;
    border-radius: 5px;
    width: 250px;
}

@media only screen and (min-width: 600px) {
    .desktopBg {
        display: none;
    }
}